@import "__variable";


:root{
    font-size: 10px;
}


body{

    position: relative;

    font-family: $font-family;
    font-weight: $regular;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

h1{
    font-weight: $Bold;
    font-size: 64px;
    line-height: 77px;
}




@import "_nav";
@import "_hero";
@import "_work";
@import "_extension";
@import "_customize";
@import "_pricing";
@import "_your-work";
@import "_data";
@import "_sponsor";
@import "_apps";
@import "_testimonial";
@import "_trial";
@import "_footer-sec";
@import "__btn";

