@import "__variable";


:root{
    font-size: 10px;
}


body{

    position: relative;

    font-family: $font-family;
    font-weight: $regular;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

h1{
    font-weight: $Bold;
    font-size: 64px;
    line-height: 77px;
}




@import "_nav";
@import "_hero";
@import "_work";
@import "_extension";
@import "_customize";
@import "_pricing";
@import "_your-work";
@import "_data";
@import "_sponsor";
@import "_apps";
@import "_testimonial";
@import "_trial";
@import "_footer-sec";
@import "__btn";



.slide-in-anim-lg-left{

    
    @media screen and (min-width: $lg){
        margin-left: -150px;
        animation-name: slide-in;
    }
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: contain;
}


@keyframes slide-in{
    from{
        margin-left: -150px;
    } 
    to{
        margin-left: 0px;
    }
}


.slide-in-anim-right{

    @media screen and (min-width: $lg) {
        margin-right: -150px;
        animation-name: slide-in-right;
    }

    
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: contain;
}


@keyframes slide-in-right{
    from{
        margin-right: -150px;
    } 
    to{
        margin-right: 0px;
    }
}

.zoom-in-anim{

    scale: 0.8;

    animation-name: zoom_key;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: cover;


}

@keyframes zoom_key {
    to{
        scale: 1;
    }    
}


.zoom-in-md-anim{

    
    @media screen and (max-width: $md) {
        scale: 0.8;
        animation-name: zoom_key;
    }

    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: cover;


}


.zoom-in-2-anim{

    scale: 0.6;

    animation-name: zoom_key;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: contain;


}





.slide-in-anim-top{

    margin-top: -150px;

    animation-name: slide-in-top;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: contain;
}




@keyframes slide-in-top{
    to{
        margin-top: 0px;
    }
}



.slide-in-anim-bottom{

    margin-top: 150px;

    animation-name: slide-in-bottom;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: contain;
}


@keyframes slide-in-bottom{
    to{
        margin-top: 0px;
    }
}



